$primary_color: #2500f9;
$secondary_color: #09142e;
$heading_color: #242f51;
$text-color: #616368;
$white: #FFF;
$light_white: #fdfdfe;
$black: #000;
$green: #40975f;
$blue: #2563ff;
$red: #f55767;
$orange: #feaa25;
$border_color: #f4f4f4;

$font_family: 'Poppins', sans-serif;

$transition: all 0.4s ease-in-out;