.accordion-area {
    padding-bottom: 110px;
  .section-title-wrap {
    margin-bottom: 60px;
  }
  .accordion-wrapper {
    .accordion {
        margin-bottom: 10px;
      .accordion-item {
        background-color: #f5f7fa;
        .accordion-header {
            
          .accordion-button {
            font-weight: 600;
            color: $heading_color;
            padding: 22px 35px 18px 48px;
            background-color: transparent;
            border: 0px;
            outline: none;
            box-shadow: none;
          }
        }
        .accordion-body {
            padding: 15px 35px 75px 50px;
          .accordion-text {
            font-size: 16px;
            color: $text-color;
            max-width: 800px;
          }
        }
      }
    }
  }
}
