/* ====================================================
            Integration CSS styles 
 ===================================================== */
.ultimate-area {
  padding-bottom: 140px;
  overflow: hidden;
  .ultimate-wrapper {
    .section-title-wrap {
        margin-bottom: 20px;
        .section-title {
            max-width: 330px;
        }
        .section-text {
            max-width: 400px;
        }
    }
    .ultimate-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 25px;
      .ultimate-item {
        padding: 30px;
        .ultimate-icon-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 88px;
          height: 88px;
          background-color: $secondary_color;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &.bg-1 {
            background-color: #ffecef;
          }
          &.bg-2 {
            background-color: #eaf9ff;
          }
          &.bg-3 {
            background-color: #fff6d3;
          }
          &.bg-4 {
            background-color: #e4ffee;
          }
        }
        .ultimate-content-wrap {
          .ultimate-title {
            color: $heading_color;
            margin: 35px 0 20px;
          }
          .ultimate-text {
            color: $text-color;
          }
        }
      }
    }
  }
  .ultimate-image-wrapper {
    width: 100%;
    height: 100%;
    .mobile-image {
      position: relative;
      height: 100%;
      width: 100%;
      .image-1 {
        position: absolute;
        right: -165px;
        bottom: 0px;
        height: auto;
        width: 100%;
        z-index: 3;
      }
      .image-2 {
        position: absolute;
        left: -20px;
        bottom: 0;
        height: auto;
        width: 100%;
        z-index: 2;
      }
      .image-3 {
        position: absolute;
        right: -50px;
        bottom: 0;
        height: auto;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
